.board {
    max-width: 1068px;
    margin: 0 auto;
    .card-row {
        margin: 0 auto;
        display: table;
        min-width: 424px;
    }
}

.card {
    background-image: url('../assets/images/card-back.png');
    background-size: contain;
    margin: 1px 3px;
    padding: 0;
    display: inline-block;
    min-height: 100px;
    min-width: 100px;
}

.game-moves-box {
    width: 100%;
    margin: 10px auto;
    h1 {
        text-align: center;
        display: block;
    }
    .moves {
        height: 30px;
        max-width: 300px;
        text-align: center;
        margin: 10px auto;
    }
}
