@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');

body {
//    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Amatic SC', cursive;
    background-color: beige;
}



