// tablets
@media (min-width: 768px) {
    
    .card {
        width: 100px;
        height: 100px;
    }
    
}
// desktops
@media (min-width: 992px) {
    
    .card {
        width: 130px;
        height: 130px;
    }
    
}
