.slide {
    z-index: 1;
    position: absolute;
    top: -100%;
    min-height: 100%;
    background: #fff;
    transition: 0.4s;
    margin: 0 auto;
    width: 100%;
}

.show-slide {
    z-index: 2;
    top: 0;
    transition: 0.4s;
}

.start {
    .start-menu {
        margin: 190px auto 0;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
        width: 50%;
        min-width: 150px;
        #start-game {
            display: block;
            margin: 40px auto;
            font-family: 'Amatic SC', cursive;
            font-size: 40px;
            background: none;
        }
        span {
            font-size: 27px;
            font-weight: bold;
            margin: 38px 0 15px;
            display: block;
        }
        #difficulty-level {
            display: block;
            margin: 0 auto 25px;
            font-family: 'Amatic SC', cursive;
            font-size: 20px;
        }
    }
}

.player {}

.game {}

.score {
    margin: 0 auto;
    text-align: center;
}
