.slide {
    z-index: 1;
    position: absolute;
    top: -100%;
    min-height: 100%;
    background: #fff;
    transition: 0.4s;
    margin: 0 auto;
    width: 100%;
}

.show-slide {
    z-index: 2;
    top: 0;
    transition: 0.4s;
}

.card {
    background-image: url('../assets/images/card-back.png');
    background-size: contain;
    margin: 1px 3px;
    padding: 0;
    display: inline-block;
    min-height: 100px;
    min-width: 100px;
}

#start-screen {
    background-color: beige;
    .start-menu {
        margin: 190px auto 0;
        text-align: center;
        width: 50%;
        min-width: 150px;
        #start-game {
            display: block;
            margin: 40px auto;
            font-family: 'Amatic SC', cursive;
            font-size: 40px;
            background: none;
        }
        h1 {
            font-size: 27px;
            font-weight: bold;
            margin: 38px 0 15px;
            display: block;
        }
        #difficulty-level {
            display: block;
            margin: 0 auto 25px;
            font-family: 'Amatic SC', cursive;
            font-size: 20px;
        }
    }
}

#game-screen {
    background-color: beige;
    #game-board {
        max-width: 1068px;
        margin: 0 auto;
        .card-row {
            margin: 0 auto;
            display: table;
            min-width: 424px;
        }
    }
}

#score-screen {
    background-color: beige;
    margin: 0 auto;
    text-align: center;
    .end-menu {
        margin: 190px auto 0;
        text-align: center;
        width: 50%;
        min-width: 150px;
        h1 {
            font-size: 27px;
            font-weight: bold;
            margin: 38px 0 15px;
            display: block;
        }
        #score {
            span {
                font-size: 20px;
            }
        }
        #restart-game {
            display: block;
            margin: 40px auto;
            font-family: 'Amatic SC', cursive;
            font-size: 40px;
            background: none;
        }
    }
}
