@mixin button {
    display: block;
    margin: 0 auto;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    background: none;
    border: none;
    &:focus {
        outline: 0;
    }
    &:hover {
        cursor: pointer;
    }
}

@mixin menu {
    text-align: center;
    width: 50%;
    min-width: 150px;
}

@mixin header {
    font-size: 27px;
    font-weight: bold;
    margin: 38px 0 15px;
    display: block;
}

@mixin preventSelecting {
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

@mixin centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    min-height: 100%;
    background: #fff;
    transition: 0.4s;
    margin: 0 auto;
    width: 100%;
    @include centerContent;
}

.show-slide {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
}

.card {
    background-image: url('../assets/images/card-back.png');
    background-size: contain;
    margin: 1px 3px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

#start-screen {
    background-color: beige;
    #start-menu {
        @include menu;
        #menu-logo {
            width: 100%;
            height: auto;
            margin: 0 auto 40px;
        }
        #start-game {
            @include button;
            @include preventSelecting;
        }
        h1 {
            @include header;
            @include preventSelecting;
        }
        #difficulty-level {
            display: block;
            margin: 0 auto 25px;
            font-family: 'Amatic SC', cursive;
            font-size: 25px;
            @include preventSelecting;
            input {
                display: none;
            }
            input:checked + label {
                color: #4ca572;
            }
            label {
                cursor: pointer;
                margin: 0 10px;
                transition: 0.2s color cubic-bezier(.67, .34, 0, .77);
            }
        }
    }
}

#game-screen {
    background-color: beige;
    #game-board {
        @include preventSelecting;
        flex-shrink: 0;
    }
}

#score-screen {
    background-color: beige;
    margin: 0 auto;
    text-align: center;
    #end-menu {
        @include menu;
        h1 {
            @include header;
            @include preventSelecting;
        }
        #score {
            font-size: 27px;
            @include preventSelecting;
        }
        #restart-game {
            @include button;
            @include preventSelecting;
        }
    }
}
