@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Sigmar+One");
.slide {
  z-index: 1;
  position: absolute;
  top: -100%;
  min-height: 100%;
  background: #fff;
  transition: 0.4s;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-slide {
  z-index: 2;
  top: 0;
  transition: 0.4s;
}

.card {
  background-image: url("../assets/images/card-back.png");
  background-size: contain;
  margin: 1px 3px;
  padding: 0;
  display: inline-block;
  min-height: 100px;
  min-width: 100px;
  border-radius: 10px;
}

#start-screen {
  background-color: beige;
}
#start-screen #start-menu {
  text-align: center;
  width: 50%;
  min-width: 150px;
}
#start-screen #start-menu #menu-logo {
  width: 100%;
  height: auto;
  margin: 0 auto 40px;
}
#start-screen #start-menu #start-game {
  display: block;
  margin: 0 auto;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  background: none;
  border: none;
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}
#start-screen #start-menu #start-game:focus {
  outline: 0;
}
#start-screen #start-menu h1 {
  font-size: 27px;
  font-weight: bold;
  margin: 38px 0 15px;
  display: block;
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}
#start-screen #start-menu #difficulty-level {
  display: block;
  margin: 0 auto 25px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

#game-screen {
  background-color: beige;
}
#game-screen #game-board {
  max-width: 1068px;
}
#game-screen #game-board .card-row {
  margin: 0 auto;
  display: table;
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

#score-screen {
  background-color: beige;
  margin: 0 auto;
  text-align: center;
}
#score-screen #end-menu {
  text-align: center;
  width: 50%;
  min-width: 150px;
}
#score-screen #end-menu h1 {
  font-size: 27px;
  font-weight: bold;
  margin: 38px 0 15px;
  display: block;
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}
#score-screen #end-menu #score {
  font-size: 27px;
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}
#score-screen #end-menu #restart-game {
  display: block;
  margin: 0 auto;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  background: none;
  border: none;
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}
#score-screen #end-menu #restart-game:focus {
  outline: 0;
}

@media (min-width: 768px) {
  .card {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 992px) {
  .card {
    width: 130px;
    height: 130px;
  }
}
.pair-1 {
  background-image: url("../assets/images/animals/card_1.png");
}

.pair-2 {
  background-image: url("../assets/images/animals/card_2.png");
}

.pair-3 {
  background-image: url("../assets/images/animals/card_3.png");
}

.pair-4 {
  background-image: url("../assets/images/animals/card_4.png");
}

.pair-5 {
  background-image: url("../assets/images/animals/card_5.png");
}

.pair-6 {
  background-image: url("../assets/images/animals/card_6.png");
}

.pair-7 {
  background-image: url("../assets/images/animals/card_7.png");
}

.pair-8 {
  background-image: url("../assets/images/animals/card_8.png");
}

.pair-9 {
  background-image: url("../assets/images/animals/card_9.png");
}

.pair-10 {
  background-image: url("../assets/images/animals/card_10.png");
}

.pair-11 {
  background-image: url("../assets/images/animals/card_11.png");
}

.pair-12 {
  background-image: url("../assets/images/animals/card_12.png");
}

body {
  overflow-x: hidden;
  font-family: 'Amatic SC', cursive;
  background-color: beige;
}
